$time: 0.2s;
@for $row from 0 through 3 {
  @for $column from 0 through 3 {
    .position-#{$row}-#{$column} {
      top: 120 * $row + 20px;
      left: 120 * $column + 20px;
    }
  }
}

@for $fromRow from 0 through 3 {
  @for $toRow from 0 through 3 {
    $name: row-from-#{$fromRow}-to-#{$toRow};
    @if $fromRow == $toRow {
      .#{$name} {
        top: $fromRow * 120px + 20px;
      }
    }
    @else {
      .#{$name} {
        animation-duration: $time;
        animation-name: $name;
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        0% {
          top: 120px * $fromRow + 20px;
        }
        100% {
          top: 120px * $toRow + 20px;
        }
      }
    }
  }
}

@for $fromColumn from 0 through 3 {
  @for $toColumn from 0 through 3 {
    $name: column-from-#{$fromColumn}-to-#{$toColumn};
    @if $fromColumn == $toColumn {
      .#{$name} {
        left: $fromColumn * 120px + 20px;
      }
    }
    @else {
      .#{$name} {
        animation-duration: $time;
        animation-delay: 0;
        animation-name: $name;
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        0% {
          left: 120px * $fromColumn + 20px;
        }
        100% {
          left: 120px * $toColumn + 20px;
        }
      }
    }
  }
}
