.position-0-0 {
  top: 20px;
  left: 20px;
}

.position-0-1 {
  top: 20px;
  left: 140px;
}

.position-0-2 {
  top: 20px;
  left: 260px;
}

.position-0-3 {
  top: 20px;
  left: 380px;
}

.position-1-0 {
  top: 140px;
  left: 20px;
}

.position-1-1 {
  top: 140px;
  left: 140px;
}

.position-1-2 {
  top: 140px;
  left: 260px;
}

.position-1-3 {
  top: 140px;
  left: 380px;
}

.position-2-0 {
  top: 260px;
  left: 20px;
}

.position-2-1 {
  top: 260px;
  left: 140px;
}

.position-2-2 {
  top: 260px;
  left: 260px;
}

.position-2-3 {
  top: 260px;
  left: 380px;
}

.position-3-0 {
  top: 380px;
  left: 20px;
}

.position-3-1 {
  top: 380px;
  left: 140px;
}

.position-3-2 {
  top: 380px;
  left: 260px;
}

.position-3-3 {
  top: 380px;
  left: 380px;
}

.row-from-0-to-0 {
  top: 20px;
}

.row-from-0-to-1 {
  animation-duration: 0.2s;
  animation-name: row-from-0-to-1;
  animation-fill-mode: forwards;
}

@keyframes row-from-0-to-1 {
  0% {
    top: 20px;
  }
  100% {
    top: 140px;
  }
}

.row-from-0-to-2 {
  animation-duration: 0.2s;
  animation-name: row-from-0-to-2;
  animation-fill-mode: forwards;
}

@keyframes row-from-0-to-2 {
  0% {
    top: 20px;
  }
  100% {
    top: 260px;
  }
}

.row-from-0-to-3 {
  animation-duration: 0.2s;
  animation-name: row-from-0-to-3;
  animation-fill-mode: forwards;
}

@keyframes row-from-0-to-3 {
  0% {
    top: 20px;
  }
  100% {
    top: 380px;
  }
}

.row-from-1-to-0 {
  animation-duration: 0.2s;
  animation-name: row-from-1-to-0;
  animation-fill-mode: forwards;
}

@keyframes row-from-1-to-0 {
  0% {
    top: 140px;
  }
  100% {
    top: 20px;
  }
}

.row-from-1-to-1 {
  top: 140px;
}

.row-from-1-to-2 {
  animation-duration: 0.2s;
  animation-name: row-from-1-to-2;
  animation-fill-mode: forwards;
}

@keyframes row-from-1-to-2 {
  0% {
    top: 140px;
  }
  100% {
    top: 260px;
  }
}

.row-from-1-to-3 {
  animation-duration: 0.2s;
  animation-name: row-from-1-to-3;
  animation-fill-mode: forwards;
}

@keyframes row-from-1-to-3 {
  0% {
    top: 140px;
  }
  100% {
    top: 380px;
  }
}

.row-from-2-to-0 {
  animation-duration: 0.2s;
  animation-name: row-from-2-to-0;
  animation-fill-mode: forwards;
}

@keyframes row-from-2-to-0 {
  0% {
    top: 260px;
  }
  100% {
    top: 20px;
  }
}

.row-from-2-to-1 {
  animation-duration: 0.2s;
  animation-name: row-from-2-to-1;
  animation-fill-mode: forwards;
}

@keyframes row-from-2-to-1 {
  0% {
    top: 260px;
  }
  100% {
    top: 140px;
  }
}

.row-from-2-to-2 {
  top: 260px;
}

.row-from-2-to-3 {
  animation-duration: 0.2s;
  animation-name: row-from-2-to-3;
  animation-fill-mode: forwards;
}

@keyframes row-from-2-to-3 {
  0% {
    top: 260px;
  }
  100% {
    top: 380px;
  }
}

.row-from-3-to-0 {
  animation-duration: 0.2s;
  animation-name: row-from-3-to-0;
  animation-fill-mode: forwards;
}

@keyframes row-from-3-to-0 {
  0% {
    top: 380px;
  }
  100% {
    top: 20px;
  }
}

.row-from-3-to-1 {
  animation-duration: 0.2s;
  animation-name: row-from-3-to-1;
  animation-fill-mode: forwards;
}

@keyframes row-from-3-to-1 {
  0% {
    top: 380px;
  }
  100% {
    top: 140px;
  }
}

.row-from-3-to-2 {
  animation-duration: 0.2s;
  animation-name: row-from-3-to-2;
  animation-fill-mode: forwards;
}

@keyframes row-from-3-to-2 {
  0% {
    top: 380px;
  }
  100% {
    top: 260px;
  }
}

.row-from-3-to-3 {
  top: 380px;
}

.column-from-0-to-0 {
  left: 20px;
}

.column-from-0-to-1 {
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-name: column-from-0-to-1;
  animation-fill-mode: forwards;
}

@keyframes column-from-0-to-1 {
  0% {
    left: 20px;
  }
  100% {
    left: 140px;
  }
}

.column-from-0-to-2 {
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-name: column-from-0-to-2;
  animation-fill-mode: forwards;
}

@keyframes column-from-0-to-2 {
  0% {
    left: 20px;
  }
  100% {
    left: 260px;
  }
}

.column-from-0-to-3 {
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-name: column-from-0-to-3;
  animation-fill-mode: forwards;
}

@keyframes column-from-0-to-3 {
  0% {
    left: 20px;
  }
  100% {
    left: 380px;
  }
}

.column-from-1-to-0 {
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-name: column-from-1-to-0;
  animation-fill-mode: forwards;
}

@keyframes column-from-1-to-0 {
  0% {
    left: 140px;
  }
  100% {
    left: 20px;
  }
}

.column-from-1-to-1 {
  left: 140px;
}

.column-from-1-to-2 {
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-name: column-from-1-to-2;
  animation-fill-mode: forwards;
}

@keyframes column-from-1-to-2 {
  0% {
    left: 140px;
  }
  100% {
    left: 260px;
  }
}

.column-from-1-to-3 {
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-name: column-from-1-to-3;
  animation-fill-mode: forwards;
}

@keyframes column-from-1-to-3 {
  0% {
    left: 140px;
  }
  100% {
    left: 380px;
  }
}

.column-from-2-to-0 {
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-name: column-from-2-to-0;
  animation-fill-mode: forwards;
}

@keyframes column-from-2-to-0 {
  0% {
    left: 260px;
  }
  100% {
    left: 20px;
  }
}

.column-from-2-to-1 {
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-name: column-from-2-to-1;
  animation-fill-mode: forwards;
}

@keyframes column-from-2-to-1 {
  0% {
    left: 260px;
  }
  100% {
    left: 140px;
  }
}

.column-from-2-to-2 {
  left: 260px;
}

.column-from-2-to-3 {
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-name: column-from-2-to-3;
  animation-fill-mode: forwards;
}

@keyframes column-from-2-to-3 {
  0% {
    left: 260px;
  }
  100% {
    left: 380px;
  }
}

.column-from-3-to-0 {
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-name: column-from-3-to-0;
  animation-fill-mode: forwards;
}

@keyframes column-from-3-to-0 {
  0% {
    left: 380px;
  }
  100% {
    left: 20px;
  }
}

.column-from-3-to-1 {
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-name: column-from-3-to-1;
  animation-fill-mode: forwards;
}

@keyframes column-from-3-to-1 {
  0% {
    left: 380px;
  }
  100% {
    left: 140px;
  }
}

.column-from-3-to-2 {
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-name: column-from-3-to-2;
  animation-fill-mode: forwards;
}

@keyframes column-from-3-to-2 {
  0% {
    left: 380px;
  }
  100% {
    left: 260px;
  }
}

.column-from-3-to-3 {
  left: 380px;
}
